.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.footer-link, .btn{
    color: #11999E;
}

.round-img{
    border-radius: 100%;
    width: 10%;
    float: left;
    margin-right: 30px;
}

.bottom-cloud{
    position: absolute;
    left: 500px;
}

.top-cloud{
    position: relative;
    top: 30px;
    left: 200px;
}


.top-container{
    background-color: cadetblue;
}

/*
.middle-container{

}
*/

/*
.bottom-container{

}*/


body{
    margin: 0px;
    text-align: center;
}

h1{
    margin: 50px;
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    color:  #66BFBF;
    line-height: 1;
}

h2{
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:  #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}